*{padding: 0;
margin: 0;
box-sizing: border-box;}

body{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.picole{
    position: relative;
    width: 150px;
    height: 230px;
    border: 3px solid black;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
   
    background: repeating-linear-gradient(315deg,
    rgb(255,252,84,1) 0%,rgb(255,252,84,1) 10%,
    rgb(116,101,230,1) 10%,rgb(116,101,230,1)20%,
    rgb(239,137,239,1)20%,rgb(239,137,239,1)30%,
    rgb(138,250,77,1)30%,rgb(138,250,77,1)40%,
    rgb(116,251,253,1)40%,rgb(116,251,253,1)50%
    );
    background-size: 200% 200%;
    animation: picole-animation 5s linear infinite forwards;
}
@keyframes picole-animation{
    from{background-position: 0% 0%,;}
    to{background-position: 10% 100%;}
}
.palito{
position: absolute;
bottom: -80px;
left: 50%;
margin-left: -23px;

width: 40px;
height: 80px;
border: 3px solid black;

border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    background: #ffd038;
}